* {
    font-family: 'Roboto Slab', serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

header {
    background-color: black;
    color: white;
    flex-basis: 3rem;
    padding: 0.5rem;
}

h1 {
    margin: 0;
    cursor: pointer;
}

h2 {
    margin: 0;
}

main {
    flex: 1;
    background-color: #4a6f6e;
    color: #f3f1d5;
    display: flex;
    flex-direction: column;
    padding-inline: 0.5rem;
    justify-content: center;
}

@media screen and (min-width: 480px) {
    main {
        padding-inline: 10%;
    }
}

#exposition {
    font-size: 18pt;
    text-align: center;
    margin-bottom: 4rem;
}

#options {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

#options button {
    padding: 1rem 2rem;
    font-size: 14pt;
    color: #dfb66f;
    background-color: #394f4f;
    box-shadow: 0 0 0.5rem #303e3e inset;
    border: none;
    border-radius: 1rem;
    user-select: none;
}

#options button:hover {
    background-color: #4d9a9a;
    color: #f3f1d5;
    box-shadow: 0 0 0.5rem #394f4f;
}

#options button:active {
    background-color: #70be61;
    color: #f3f1d5;
    box-shadow: 0 0rem 0.5rem #394f4f inset;
}

#character-select {
    flex-basis: 22rem;
    /* background-color: red; */
}

#character-list {
    position: relative;
    height: 22rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.character-card {
    background-color: #e3e7dc;
    color: #b08643;
    flex-basis: 20rem;
    height: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s;
}

.character-card:hover {
    flex-basis: 22rem;
    height: 22rem;
    box-shadow: 0 0.5rem 1rem #394f4f;
}

footer {
    background-color: black;
    flex-basis: 3rem;
    padding: 0.5rem;
}

