* {
    font-family: 'Roboto Slab', serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: #f3f1d5;

    background-color: #498290;
    transition: all 1s;
}

#backdrop[data-bg="school hallway"] {
    background-image: url('../assets/bg_school.png');
    background-position: 0 20%;
    background-size: cover;
}

#backdrop[data-bg="bedroom"] {
    background-image: url('../assets/bedroom.jpg');
    background-position: 0 20%;
    background-size: cover;
}

#backdrop[data-bg="living room"] {
    background-image: url('../assets/living_room.jpg');
    background-position: 0 30%;
    background-size: cover;
}

#backdrop[data-bg="classroom 1"] {
    background-image: url('../assets/classroom_1.jpg');
    background-position: 0 70%;
    background-size: cover;
}

#backdrop[data-bg="classroom 2"] {
    background-image: url('../assets/classroom_2.jpg');
    background-position: 0 0%;
    background-size: cover;
}

#backdrop[data-bg="cafeteria"] {
    background-image: url('../assets/cafeteria.jpg');
    background-position: 0 0%;
    background-size: cover;
}

#backdrop[data-bg="dinner table"] {
    background-image: url('../assets/family_dinner.jpg');
    background-position: 0 40%;
    background-size: cover;
}

#backdrop[data-bg="school bus"] {
    background-image: url('../assets/school_bus.jpg');
    background-position: 0 100%;
    background-size: cover;
}

#backdrop[data-bg="dining hall"] {
    background-image: url('../assets/dining_hall.jpg');
    background-position: 0 100%;
    background-size: cover;
}

#backdrop[data-bg="classroom 3"] {
    background-image: url('../assets/classroom_3.jpg');
    background-position: 0 100%;
    background-size: cover;
}

#backdrop[data-bg="classroom 4"] {
    background-image: url('../assets/classroom_4.jpg');
    background-position: 0 100%;
    background-size: cover;
}

#backdrop[data-bg="phone"] {
    background-image: url('../assets/phone.jpg');
    background-position: 0 100%;
    background-size: cover;
}

#backdrop[data-bg="college club"] {
    background-image: url('../assets/club_room.jpg');
    background-position: 0 100%;
    background-size: cover;
}

#backdrop[data-bg="dorm room"] {
    background-image: url('../assets/dorm_room.jpg');
    background-position: 0 100%;
    background-size: cover;
}

#backdrop[data-bg="dorm desk"] {
    background-image: url('../assets/dorm_desk.jpg');
    background-position: 0 100%;
    background-size: cover;
}

#backdrop[data-bg="trailer"] {
    background-image: url('../assets/trailer.jpg');
    background-position: 0 100%;
    background-size: cover;
}

#backdrop[data-bg="outside trailer"] {
    background-image: url('../assets/outside_trailer.png');
    background-position: 0 100%;
    background-size: cover;
}

#backdrop[data-bg="morning drive"] {
    background-image: url('../assets/morning_drive.png');
    background-position: 0 100%;
    background-size: cover;
}

#backdrop[data-bg="morning party"] {
    background-image: url('../assets/morning_drive2.png');
    background-position: 0 100%;
    background-size: cover;
}

#backdrop[data-bg="walking campsites"] {
    background-image: url('../assets/walking_campsites.png');
    background-position: 0 100%;
    background-size: cover;
}

#backdrop {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: filter 2s;
}

#floaty-text {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#floaty-text p {
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
    font-size: 14pt;
}

body::after {
    position: absolute;
    top: 4rem;
    width: 100%;
    height: calc(100% - 8rem);
    content: "";
    pointer-events: none;
    box-shadow: none;
    transition: all 4s;
}

[data-stress-effects="low"] #backdrop {
    filter: brightness(150%) contrast(150%) blur(4px);
}

[data-stress-effects="low"]::after{
    box-shadow: 0 0 16rem #ffffff inset;
}

[data-stress-effects="low"] :is(header, footer, main, #HUD){
    filter: brightness(120%) contrast(120%);
}

[data-stress-effects="high"] #backdrop {
    filter: brightness(200%) contrast(200%) blur(8px);
}

[data-stress-effects="high"]::after{
    box-shadow: 0 0 16rem 2rem #ffffff inset;
}

[data-stress-effects="high"] :is(header, footer, main, #HUD){
    filter: brightness(180%);
}

header {
    background-color: #1a2a46;
    color: white;
    flex-basis: 3rem;
    flex-shrink: 0;
    padding: 0.5rem;
    transition: filter 2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: stretch;
}

#menu button {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
}

#menu button:hover {
    background-color: #ffffff88;
}

#menu button:active {
    background-color: #ffffffcc;
}

#menu button img {
    display: block;
    /* width: 32px;
    height: 32px; */
    margin: 0;
}

h1 {
    margin: 0;
    cursor: pointer;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

main {
    position: relative;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    margin-inline: 0.5rem;
    margin-block: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    /* justify-content: center; */
    overflow: hidden;

    background-color: #00000022;
    transition: filter 2s;
}

main.theme-active {
    background-color: #223e4bcc;
}

@media screen and (min-width: 480px) {
    main {
        margin-inline: 10%;
    }
}


.spacer {
    height: 4rem;
}

#exposition {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    font-size: 18pt;
    text-align: center;
    border-radius: 1rem;
    padding-inline: 1rem;
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

#exposition.no-vertical-pad {
    padding-block: 1rem;
    justify-content: flex-start;
}

#exposition p {
    position: relative;
    margin: 0;
}

#exposition p.small {
    font-size: 12pt;
}

@keyframes fade-in {
    from {
        opacity: 0;
        pointer-events: none;
    }

    to {
        opacity: 1;
        pointer-events: initial;
    }
}

@keyframes slide-down {
    from {
        top: -1rem;
    }

    to {
        top: 0;
    }
}

/* body:not([data-bg='none']) #exposition {
    background-color: #394f4fe0;
} */

strong {
    color: #dfb66f;
}

#options {
    width: 100%;
    flex-basis: 12rem;
    flex-shrink: 0;
    box-sizing: border-box;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    position: relative;
}

main.theme-active #options {
    background-color: #3b858f;
}

/* body:not([data-bg='none']) #options {
    background-color: #4a6f6ee0;
} */

button {
    padding: 1rem 2rem;
    font-size: 14pt;
    color: #dfb66f;
    background-color: #39494f;
    box-shadow: 0 0 0.5rem #212d3b inset;
    border: none;
    border-radius: 1rem;
    user-select: none;
    cursor: pointer;
    position: relative;
}

button:hover {
    background-color: #4d9a9a;
    color: #f3f1d5;
    box-shadow: 0 0 0.5rem #39494f;
}

button:active {
    background-color: #70be61;
    color: #f3f1d5;
    box-shadow: 0 0 0.5rem #212d3b inset;
}

button:disabled {
    background-color: #606860;
    box-shadow: 0 0 0.5rem #302020 inset;
}

button:disabled:active {
    animation: 0.2s linear wiggle;
}

@keyframes wiggle {
    0% {
        left: 0;
    }
    25% {
        left: -2px;
    }
    75% {
        left: 2px;
    }
    100% {
        left: 0;
    }
}

#HUD {
    position: absolute;
    top: 4rem;
    left: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #223e4bcc;
    border-bottom-right-radius: 1rem;
    transition: filter 2s;
}

#HUD.hide {
    visibility: hidden;
}

#character-icon {
    width: 4rem;
    height: 4rem;
}

#end-card {
    background-color: #f3f1d5;
    color: #b08643;
    padding: 2rem;
    border-radius: 1rem;
    height: 100%;
}

#end-card h2 {
    text-align: center;
}

#end-buttons {
    justify-content: center;
    display: flex;
    gap: 1rem;
}

#modals {
    position: absolute;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000022;
}

.modal-box {
    width: 36rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    
    color: #b08643;
    border-radius: 1rem;
    overflow: hidden;
    
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.modal-header {
    background-color: #b08643;
    color: #e3e7dc;
    height: 2rem;
}

.modal-content {
    flex-grow: 1;
    padding: 1rem;
    background-color: #e3e7dc;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.modal-content > * {
    margin: 0;
    text-align: center;
}

.modal-choice-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem;
}

footer {
    background-color: #1a2a46;
    flex-basis: 3rem;
    flex-shrink: 0;
    padding: 0.5rem;
    transition: filter 2s;
}